{{ define "posts" }}
    <ol class="posts" start="{{ .Start }} ">
        {{ range .Posts }}
            <li><p class="post-link"><a href="/post/{{ .Id }}">{{ .Title }}</a> {{ .Snippet }}</p></li>
        {{ end }}
    </ol>
    {{ if .After }}
        <a href="?after={{ .After }}">more</a>
    {{ end }}
{{ end }}
{{ define "post" }}
    <div class="post" id="{{ .Id }}">
        <div class="post-content"><h1>{{ .Title }}</h1>{{ .Html }}</div>
        <p class="info">{{ .Username }}, {{ human_time .Time }}</p>
        <a href="/post/{{ .Id }}#" class="actions">link</a>
        <a href="javascript:;" class="actions" onclick="toggle_comment(this);">reply</a><br/>
        <br/>
        <span class="line">// ----------------</span>
        <br/>
        {{ if .Comments }}
            {{ template "comment" .Comments }}
        {{ else }}
            <div class="comments">
                <br/>
                <p>no comments yet</p>
            </div>
        {{ end }}
    </div>
{{ end }}
{{ define "comment" }}
    {{ with . }}
        <div class="comments">
            {{ range . }}
                <br/>
                <div class="comment" id="{{ .Id }}">
                    <div class="comment-content">{{ .Html }}</div>
                    <p class="info">{{ .Username }}, {{ human_time .Time }}</p>
                    <a href="javascript:;" class="actions" onclick="toggle_hidden(this);">hide</a>
                    <a href="#{{ .Id }}" class="actions">link</a>
                    <a href="javascript:;" class="actions" onclick="toggle_comment(this);">reply</a><br/>
                    {{ template "comment" .Comments }}
                </div>
            {{ end }}
        </div>
    {{ end }}
{{ end }}
{{ define "main" }}
    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <title>{{ .Title }}</title>
            <link rel="stylesheet" type="text/css" href="/static/style.css"/>
            <script type="text/javascript" src="/static/script.js"></script>
            <link rel="icon" type="image/png" href="/static/icon.png">
        </head>
        <body>
            <header>
                <br/>
                <h1><a href="/">commune</a></h1>
                <br/>
                <span class="line">// ----------------</span>
                <br/>
                <br/>
            </header>
            <nav>
                <br/>
                <h2>freshness</h2>
                <p>
                    
                    <a href="javascript:;" {{ if eq .Freshness 0 }} class="grey" {{ end }} onclick="set_freshness(0);">freshest</a>
                    <a href="javascript:;" {{ if eq .Freshness 1 }} class="grey" {{ end }} onclick="set_freshness(1);">fresher</a>
                    <a href="javascript:;" {{ if eq .Freshness 2 }} class="grey" {{ end }} onclick="set_freshness(2);">both</a>
                    <a href="javascript:;" {{ if eq .Freshness 3 }} class="grey" {{ end }} onclick="set_freshness(3);">higher</a>
                    <a href="javascript:;" {{ if eq .Freshness 4 }} class="grey" {{ end }} onclick="set_freshness(4);">highest</a>
                    <br/>
                    <a href="javascript:;" onclick="set_nested(true);">nested</a>
                    <a href="javascript:;" onclick="set_nested(false);">flat</a>
                </p>
                <br/>

                <h2>search</h2>
                <form id="search" autocomplete="on" action="/" method="get">
                    <input name="search" type="search" required placeholder="#hashtag search query" title="">
                    <input type="submit" value="search">
                </form>
                <br/>

                <h2>submit post</h2>
                <form id="post" autocomplete="off" enctype="multipart/form-data" action="/submit_post" method="post">
                    <input type="text" name="title" required placeholder="title" title="">
                    <textarea name="text" rows="12" required placeholder="write the post text here" title=""></textarea>
                    <a href="https://github.com/paddygord/commune#commune">user guide</a>,
                    <a href="https://github.com/paddygord/commune/blob/master/format.md#format">formatting guide</a>
                    <input type="submit" value="post">
                </form>
                <br/>

                <h2>about commune</h2>
                <p>
                    commune is a community news and discussion site, with a radical focus on tolerance and inclusion,
                    <a href="https://github.com/paddygord/commune#commune">user guide</a>,
                    <a href="https://github.com/paddygord/commune">source code</a>
                </p>

                <form id="comment" autocomplete="off" enctype="multipart/form-data" action="/submit_comment" method="post">
                    <textarea name="text" rows="12" required placeholder="write the comment text here" title=""></textarea><br/>
                    <a href="https://github.com/paddygord/commune#commune">user guide</a>,
                    <a href="https://github.com/paddygord/commune/blob/master/format.md#format">formatting guide</a>
                    <input type="submit" value="reply">
                    <input name="post_id" type="hidden" value="">
                    <input name="comment_id" type="hidden" value="">
                </form>
            </nav>
            <section>
                {{ .Content }}
            </section>
        </body>
    </html>
{{ end }}
