{{ define "content" }}
    <div class="post" id="{{ .ID }}">
        <div class="post-content">{{ .Html }}</div>
        <p class="info">{{ .Username }}, {{ human_time .Time }}</p>
        <p class="info">
            <a href="/post/{{ .ID }}#">link</a>
            <a href="/preview?post_id={{ .ID }}">reply</a>
        </p>
        {{ if .Comments }}
            {{ template "comment" .Comments }}
        {{ else }}
            <div>
                <p>no comments yet</p>
            </div>
        {{ end }}
    </div>
{{ end }}
{{ define "comment" }}
    {{ with . }}
        <div class="comments">
            {{ range . }}
                <div class="comment" id="{{ .ID }}">
                    <div class="comment-content">{{ .Html }}</div>
                    <p class="info">{{ .Username }}, {{ human_time .Time }}</p>
                    <p class="info">
                        <a href="javascript:;" onclick="toggle_hidden(this);">hide</a>
                        <a href="#{{ .ID }}">link</a>
                        <a href="/preview?comment_id={{ .ID }}">reply</a>
                    </p>
                    {{ template "comment" .Comments }}
                </div>
            {{ end }}
        </div>
    {{ end }}
{{ end }}
