{{ define "content" }}
    <div class="post" id="{{ .ID }}">
        <div class="post-content">{{ .Html }}</div>
        <p class="info">{{ .Username }}, {{ human_time .Time }}</p>
        <a href="/post/{{ .ID }}#" class="actions">link</a>
        <a href="/submit_comment?post_id={{ .ID }}" class="actions" onclick="toggle_comment(this);return false;">reply</a><br>
        <br>
        <hr>
        {{ if .Comments }}
            {{ template "comment" .Comments }}
        {{ else }}
            <div>
                <br>
                <p>no comments yet</p>
            </div>
        {{ end }}
    </div>
{{ end }}
{{ define "comment" }}
    {{ with . }}
        <div class="comments">
            {{ range . }}
                <br>
                <div class="comment" id="{{ .ID }}">
                    <div class="comment-content">{{ .Html }}</div>
                    <p class="info">{{ .Username }}, {{ human_time .Time }}</p>
                    <a href="javascript:;" class="actions" onclick="toggle_hidden(this);">hide</a>
                    <a href="#{{ .ID }}" class="actions">link</a>
                    <a href="/submit_comment?comment_id={{ .ID }}" class="actions" onclick="toggle_comment(this);return false;">reply</a><br>
                    {{ template "comment" .Comments }}
                </div>
            {{ end }}
        </div>
    {{ end }}
{{ end }}
