{{ define "content" }}
	{{ if .Parent }}
	<div class=comments>
		<div class="comment" id="{{ .Parent_id }}">
			{{ with .Parent }}
			<div class="comment-content">{{ .Html }}</div>
			<p class="info">{{ .Username }}, {{ human_time .Time }}</p>
			{{ end }}
			<div class="comments">
				<div class="comment">
					{{ with .Child }}
					<div class="comment-content">{{ .Html }}</div>
					<p class="info">{{ .Username }}, {{ human_time .Time }}</p>
					{{ end }}
				</div>
			</div>
		</div>
	</div>
	{{ end }}
    <form id="post" enctype="multipart/form-data" method="post">
        <textarea name="text" rows="12" required placeholder="write the post text here" title="">{{ .Markdown }}</textarea>
        <div class="flex">
            <div>
                <a href="https://github.com/paddygord/commune#commune">user guide</a>,
                <a href="https://github.com/paddygord/commune/blob/master/format.md#format">formatting guide</a>
            </div>
            <div class="flex-gap"></div>
            <div>
                <input type="submit" value="preview" formaction="/preview">
                <input type="submit" value="submit" formaction="/submit_post" class="clear">
            </div>
        </div>
		<input name="post_id" type="hidden" value="{{ .Post_id }}">
		<input name="parent_id" type="hidden" value="{{ .Parent_id }}">
    </form>
{{ end }}
