{{ define "wrapper" }}
    {{ template "content" .Content }}
{{ end }}
{{ define "content" }}
    <section>
        <form id="post" autocomplete="on" enctype="multipart/form-data" method="post">
            <textarea name="text" rows="12" required placeholder="write the post text here" title=""></textarea>
            <a href="https://github.com/paddygord/commune#commune">user guide</a>,
            <a href="https://github.com/paddygord/commune/blob/master/format.md#format">formatting guide</a>
            <input type="submit" value="post" formaction="/submit_post">
        </form>
    </section>
{{ end }}
